In [1]:
# importing Pandas and getting to know its installed version
import pandas as pd
#pd.__version__

In [2]:
## Reading file from desktop folder, as Ive opend it in same folder no need to specify complete path
myfile = pd.read_csv("ContractHeader.csv")
#myfile.head()
#myfile.tail(n=100)

In [3]:
# to get the data type of file
type(myfile)

pandas.core.frame.DataFrame

In [4]:
#getting shape ( Rows and columns)
#Shape is an property Or and attribute of pandas not a function thats why we are putting () after it
myfile.shape

(493, 42)

In [5]:
#info at glance about data frame
myfile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 42 columns):
Opportunity_Oid            493 non-null object
Opportunity_Urlid          493 non-null int64
Bill_To_Custid             493 non-null object
Bill_To_Cont               493 non-null object
Sold_To_Custid             493 non-null object
Sold_To_Cont               493 non-null object
Ship_To_Custid             493 non-null object
Ship_To_Cont               493 non-null object
Ca_Source                  493 non-null object
Reseller                   493 non-null object
Contract_Type              493 non-null object
Opprnty_Ln_Num             493 non-null int64
Line_Bill_To_Custid        493 non-null object
Line_Bill_To_Cont          493 non-null object
Line_Ship_To_Custid        493 non-null object
Line_Ship_To_Cont          493 non-null object
Gross_Amt                  493 non-null float64
Product_Id                 493 non-null object
Billproductid              493 non-null object
Billgroup                  422 non-null object
Qty                        493 non-null float64
Checked                    493 non-null object
Start_Dt                   493 non-null object
Ca_Cntrct_Trm              493 non-null int64
Estimated_Amount           493 non-null float64
Po_Ref                     392 non-null object
Usrlicnbr                  422 non-null object
Ca_Sale_Event              493 non-null object
Ca_Slsid                   422 non-null object
Ca_Arrngmentid             422 non-null object
Ca_Updcaid                 422 non-null object
Qty_Assigned               493 non-null int64
Amt1                       493 non-null float64
Currency_Cd                493 non-null object
Schedule                   493 non-null int64
Ca_Stnc                    493 non-null float64
Delivery_Grp               493 non-null object
Header Region Code         493 non-null object
Line Region Code           493 non-null object
ISA_Number                 460 non-null object
Bundle Pricing Checkbox    493 non-null object
Contract Sign Date         493 non-null object
dtypes: float64(5), int64(5), object(32)
memory usage: 161.8+ KB

In [6]:
#Column is an property Or and attribute of pandas not a function thats why we are putting () after it
myfile.columns

Index(['Opportunity_Oid', 'Opportunity_Urlid', 'Bill_To_Custid',
       'Bill_To_Cont', 'Sold_To_Custid', 'Sold_To_Cont', 'Ship_To_Custid',
       'Ship_To_Cont', 'Ca_Source', 'Reseller', 'Contract_Type',
       'Opprnty_Ln_Num', 'Line_Bill_To_Custid', 'Line_Bill_To_Cont',
       'Line_Ship_To_Custid', 'Line_Ship_To_Cont', 'Gross_Amt', 'Product_Id',
       'Billproductid', 'Billgroup', 'Qty', 'Checked', 'Start_Dt',
       'Ca_Cntrct_Trm', 'Estimated_Amount', 'Po_Ref', 'Usrlicnbr',
       'Ca_Sale_Event', 'Ca_Slsid', 'Ca_Arrngmentid', 'Ca_Updcaid',
       'Qty_Assigned', 'Amt1', 'Currency_Cd', 'Schedule', 'Ca_Stnc',
       'Delivery_Grp', 'Header Region Code', 'Line Region Code', 'ISA_Number',
       'Bundle Pricing Checkbox', 'Contract Sign Date'],
      dtype='object')

In [7]:
myfile.index

RangeIndex(start=0, stop=493, step=1)

In [8]:
#to get only values without header
myfile.values

array([['O336960', 24537, 'A21567', ..., ' ', 'N', '10/13/2003'],
       ['O324244', 25709, 'A16820', ..., ' ', 'N', '02/11/2002'],
       ['O324244', 25709, 'A16820', ..., ' ', 'N', '02/11/2002'],
       ...,
       ['O775423', 111333, 'A17017', ..., ' ', 'N', '02/27/2019'],
       ['O775423', 111333, 'A17017', ..., ' ', 'N', '02/27/2019'],
       ['O775423', 111333, 'A17017', ..., ' ', 'N', '02/27/2019']], dtype=object)

In [9]:
# Object is like an string value
myfile.dtypes

Opportunity_Oid             object
Opportunity_Urlid            int64
Bill_To_Custid              object
Bill_To_Cont                object
Sold_To_Custid              object
Sold_To_Cont                object
Ship_To_Custid              object
Ship_To_Cont                object
Ca_Source                   object
Reseller                    object
Contract_Type               object
Opprnty_Ln_Num               int64
Line_Bill_To_Custid         object
Line_Bill_To_Cont           object
Line_Ship_To_Custid         object
Line_Ship_To_Cont           object
Gross_Amt                  float64
Product_Id                  object
Billproductid               object
Billgroup                   object
Qty                        float64
Checked                     object
Start_Dt                    object
Ca_Cntrct_Trm                int64
Estimated_Amount           float64
Po_Ref                      object
Usrlicnbr                   object
Ca_Sale_Event               object
Ca_Slsid                    object
Ca_Arrngmentid              object
Ca_Updcaid                  object
Qty_Assigned                 int64
Amt1                       float64
Currency_Cd                 object
Schedule                     int64
Ca_Stnc                    float64
Delivery_Grp                object
Header Region Code          object
Line Region Code            object
ISA_Number                  object
Bundle Pricing Checkbox     object
Contract Sign Date          object
dtype: object

In [10]:
# subsetting Or slicing data
#type(list)
list = myfile[['Opportunity_Oid']]

In [11]:
# deleting a filed from file/data set
del myfile['Contract Sign Date']

In [12]:
# To drop multiple columns at the same time, Use Drop method

myfile.drop(['ISA_Number','Line Region Code','Delivery_Grp'],axis ='columns', )

,Opportunity_Oid,Opportunity_Urlid,Bill_To_Custid,Bill_To_Cont,Sold_To_Custid,Sold_To_Cont,Ship_To_Custid,Ship_To_Cont,Ca_Source,Reseller,...,Ca_Slsid,Ca_Arrngmentid,Ca_Updcaid,Qty_Assigned,Amt1,Currency_Cd,Schedule,Ca_Stnc,Header Region Code,Bundle Pricing Checkbox
0,O336960,24537,A21567,C666992ISA,A21567,C666992ISA,A21567,C666992ISA,Data Migration,,...,,,,1,723440.00,USD,12,723440.00,GL001_001,N
1,O324244,25709,A16820,C119461ISA,A16820,C119461ISA,A16820,C119461ISA,Data Migration,,...,,,,1,1844921.64,USD,1,1844921.64,GL001_001,N
2,O324244,25709,A16820,C119461ISA,A16820,C119461ISA,A16820,C119461ISA,Data Migration,,...,,,,1,117100.00,USD,1,117100.00,GL001_001,N
3,O303011,25710,A17040,C788913ISA,A17040,C788913ISA,A17040,C788910ISA,Data Migration,,...,,,,1,0.00,USD,1,0.00,GL001_001,N
4,O768440,25710,A17040,C658117ISA,A17040,C658117ISA,A17040,C658117ISA,Data Migration,,...,,,,1,18000.00,USD,1,18000.00,GL001_001,N
5,O349733,25710,A17040,C658117ISA,A17040,C658117ISA,A17040,C658117ISA,Data Migration,,...,,,,1,0.00,USD,1,0.00,GL001_001,N
6,O349733,25710,A17040,C658117ISA,A17040,C658117ISA,A17040,C658117ISA,Data Migration,,...,,,,1,120000.00,USD,1,120000.00,GL001_001,N
7,O303011,25710,A17040,C788913ISA,A17040,C788913ISA,A17040,C788910ISA,Data Migration,,...,,,,1,0.00,USD,1,0.00,GL001_001,N
8,O303011,25710,A17040,C126967ISA,A17040,C126967ISA,A17040,C126967ISA,Data Migration,,...,,,,1,0.00,USD,1,0.00,GL001_001,N
9,O138587,25717,A15850,C557751ISA,A15850,C557751ISA,A15850,C766798ISA,Data Migration,,...,,,,1,4939166.58,USD,48,4939166.58,GL001_001,N
10,O138587,25717,A15850,C557751ISA,A15850,C557751ISA,A15850,C766798ISA,Data Migration,,...,,,,1,1697593.73,USD,48,1697593.73,GL001_001,N
11,O138587,25717,A15850,C126965ISA,A15850,C126965ISA,A15850,C126965ISA,Data Migration,,...,,,,1,1709926.24,USD,48,1709926.24,GL001_001,N
12,O127825,25831,A15900,C718360ISA,A15900,C718360ISA,A15900,C718360ISA,Data Migration,,...,,,,1,2818350.00,USD,1,2818350.00,GL001_001,N
13,O127825,25831,A15900,C718360ISA,A15900,C718360ISA,A15900,C718360ISA,Data Migration,,...,,,,1,3087750.00,USD,1,3087750.00,GL001_001,N
14,O127825,25831,A15900,C718360ISA,A15900,C718360ISA,A15900,C718360ISA,Data Migration,,...,,,,1,486850.00,USD,1,486850.00,GL001_001,N
15,O345217,26864,A17167,C235321ISA,A17167,C235321ISA,A17167,C723732ISA,Data Migration,,...,,,,1,1384523.28,USD,12,1384523.28,GL001_001,N
16,O345217,26864,A17167,C235321ISA,A17167,C235321ISA,A17167,C723732ISA,Data Migration,,...,,,,1,544858.01,USD,12,544858.01,GL001_001,N
17,O69238,27181,A16795,C126990ISA,A16795,C126990ISA,A16795,C126990ISA,Data Migration,,...,,,,1,5487290.00,USD,36,5487290.00,GL001_001,N
18,O82430,27367,A21004,C513604ISA,A21004,C513604ISA,A21004,C513604ISA,Data Migration,,...,,,,1,8894806.45,USD,36,8894806.45,GL001_001,N
19,DM27714,27714,A21412,C518554ISA,A21412,C518554ISA,A21412,C518554ISA,Data Migration,,...,,,,1,2386507.68,USD,24,2386507.68,GL001_001,N
20,O320131,28284,A15812,C839763ISA,A15812,C839763ISA,A15812,C839763ISA,Data Migration,,...,,,,1,0.00,USD,23,0.00,GL001_001,N
21,O51000,28348,A16430,C165087ISA,A16430,C165087ISA,A16430,C2813ISA,Data Migration,,...,,,,1,6932341.82,USD,60,6932341.82,GL001_001,N
22,O51000,28348,A16430,C165087ISA,A16430,C165087ISA,A16430,C2813ISA,Data Migration,,...,,,,1,2446452.00,USD,60,2446452.00,GL001_001,N
23,O51000,28348,A16430,C165087ISA,A16430,C165087ISA,A16430,C2813ISA,Data Migration,,...,,,,1,842107.86,USD,60,842107.86,GL001_001,N
24,O182351,28357,A30935,C244986ISA,A30935,C244986ISA,A30935,C244986ISA,Data Migration,,...,,,,1,337559.20,USD,1,337559.20,GL001_001,N
25,O342115,29520,A15872,C580540ISA,A15872,C580540ISA,A15872,C580540ISA,Data Migration,,...,,,,1,412702.00,USD,12,412702.00,GL001_001,N
26,O342115,29520,A15872,C580540ISA,A15872,C580540ISA,A15872,C580540ISA,Data Migration,,...,,,,1,632926.00,USD,12,632926.00,GL001_001,N
27,O342115,29520,A15872,C722473ISA,A15872,C722473ISA,A15872,C722473ISA,Data Migration,,...,,,,1,2150424.51,USD,12,2150424.51,GL001_001,N
28,O348222,29520,A15872,C580540ISA,A15872,C580540ISA,A15872,C580540ISA,Data Migration,,...,NaN,NaN,NaN,1,0.00,USD,1,0.00,GL001_001,N
29,O348222,29520,A15872,C580540ISA,A15872,C580540ISA,A15872,C580540ISA,Data Migration,,...,NaN,NaN,NaN,1,0.00,USD,1,0.00,GL001_001,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,O776773,110908,A32143,C823339ISA,A32143,C823339ISA,A32143,C823339ISA,Data Migration,,...,,,,1,214000.00,USD,12,214000.00,GL001_001,N
464,O774817,111016,A45134,C832547ISA,A45134,C832547ISA,A45134,C832547ISA,Data Migration,,...,,,,1,150000.00,USD,3,150000.00,GL001_001,N
465,O774817,111016,A45134,C832547ISA,A45134,C832547ISA,A45134,C832547ISA,Data Migration,,...,,,,1,150000.00,USD,3,150000.00,GL001_001,N
466,O774817,111016,A45134,C832547ISA,A45134,C832547ISA,A45134,C832547ISA,Data Migration,,...,,,,1,50000.00,USD,3,50000.00,GL001_001,N
467,O769575,111042,A17317,C823948ISA,A17317,C823948ISA,A17317,C823948ISA,Data Migration,,...,,,,1,0.00,USD,1,0.00,GL001_001,N
468,O769575,111042,A17317,C823948ISA,A17317,C823948ISA,A17317,C823948ISA,Data Migration,,...,NaN,NaN,NaN,1,0.00,USD,1,0.00,GL001_001,N
469,O769575,111042,A17317,C823948ISA,A17317,C823948ISA,A17317,C823948ISA,Data Migration,,...,NaN,NaN,NaN,1,0.00,USD,1,0.00,GL001_001,N
470,O779594,111092,A20655,C772040ISA,A20655,C772040ISA,A20655,C772040ISA,Data Migration,,...,,,,1,45881.64,USD,12,45881.64,GL001_001,N
471,O779594,111092,A20655,C772040ISA,A20655,C772040ISA,A20655,C772040ISA,Data Migration,,...,,,,1,16074.24,USD,12,16074.24,GL001_001,N
472,O779594,111092,A20655,C772040ISA,A20655,C772040ISA,A20655,C772040ISA,Data Migration,,...,,,,1,16074.24,USD,12,16074.24,GL001_001,N
473,O779594,111092,A20655,C772040ISA,A20655,C772040ISA,A20655,C772040ISA,Data Migration,,...,,,,1,88850.16,USD,12,88850.16,GL001_001,N
474,O354299,111095,A129474,C672840ISA,A129474,C672840ISA,A129474,C672840ISA,Data Migration,,...,,,,1,31200.00,USD,12,31200.00,GL001_001,N
475,O354299,111095,A129474,C672840ISA,A129474,C672840ISA,A129474,C672840ISA,Data Migration,,...,,,,1,58200.00,USD,12,58200.00,GL001_001,N
476,O354299,111095,A129474,C672840ISA,A129474,C672840ISA,A129474,C672840ISA,Data Migration,,...,,,,1,162300.00,USD,12,162300.00,GL001_001,N
477,O775130,111096,A21793,C321481ISA,A21793,C321481ISA,A21793,C321481ISA,Data Migration,,...,,,,1,2100.00,USD,1,2100.00,GL001_001,N
478,O775130,111096,A21793,C321481ISA,A21793,C321481ISA,A21793,C321481ISA,Data Migration,,...,NaN,NaN,NaN,1,0.00,USD,1,0.00,GL001_001,N
479,O775130,111096,A21793,C321481ISA,A21793,C321481ISA,A21793,C321481ISA,Data Migration,,...,NaN,NaN,NaN,1,0.00,USD,1,0.00,GL001_001,N
480,O775665,111160,A16903,C319684ISA,A16903,C319684ISA,A16903,C319684ISA,Data Migration,,...,,,,1,155000.00,USD,1,155000.00,GL001_001,N
481,O775665,111160,A16903,C319684ISA,A16903,C319684ISA,A16903,C319684ISA,Data Migration,,...,,,,1,361500.00,USD,1,361500.00,GL001_001,N
482,O775665,111160,A16903,C319684ISA,A16903,C319684ISA,A16903,C319684ISA,Data Migration,,...,NaN,NaN,NaN,1,0.00,USD,1,0.00,GL001_001,N
483,O775665,111160,A16903,C319684ISA,A16903,C319684ISA,A16903,C319684ISA,Data Migration,,...,NaN,NaN,NaN,1,0.00,USD,1,0.00,GL001_001,N
484,O774551,111224,A129474,C561821ISA,A129474,C561821ISA,A129474,C561821ISA,Data Migration,,...,,,,1,5250.00,USD,12,5250.00,GL001_001,N
485,O774551,111224,A129474,C561821ISA,A129474,C561821ISA,A129474,C561821ISA,Data Migration,,...,,,,1,5250.00,USD,12,5250.00,GL001_001,N
486,O777321,111249,A337150,C837892ISA,A337150,C837892ISA,A337150,C837892ISA,Data Migration,,...,,,,1,120000.00,USD,48,120000.00,GL001_001,N
487,O782199,111294,A121280,C612907ISA,A121280,C612907ISA,A121280,C612907ISA,Data Migration,,...,,,,1,31312.50,USD,1,31312.50,GL001_001,N
488,O782199,111294,A121280,C612907ISA,A121280,C612907ISA,A121280,C612907ISA,Data Migration,,...,,,,1,10437.50,USD,1,10437.50,GL001_001,N
489,O775423,111333,A17017,C753297ISA,A17017,C753297ISA,A17017,C753297ISA,Data Migration,,...,,,,1,1299888.00,USD,1,1299888.00,GL001_001,N
490,O775423,111333,A17017,C753297ISA,A17017,C753297ISA,A17017,C753297ISA,Data Migration,,...,,,,1,354112.00,USD,1,354112.00,GL001_001,N
491,O775423,111333,A17017,C753297ISA,A17017,C753297ISA,A17017,C753297ISA,Data Migration,,...,NaN,NaN,NaN,1,0.00,USD,1,0.00,GL001_001,N
492,O775423,111333,A17017,C753297ISA,A17017,C753297ISA,A17017,C753297ISA,Data Migration,,...,NaN,NaN,NaN,1,0.00,USD,1,0.00,GL001_001,N

In [13]:
myfile.shape

(493, 41)

In [14]:
# subsetting Rows  
# based on location
myfile.loc[0]
myfile.loc[[1,2,3]]

,Opportunity_Oid,Opportunity_Urlid,Bill_To_Custid,Bill_To_Cont,Sold_To_Custid,Sold_To_Cont,Ship_To_Custid,Ship_To_Cont,Ca_Source,Reseller,...,Qty_Assigned,Amt1,Currency_Cd,Schedule,Ca_Stnc,Delivery_Grp,Header Region Code,Line Region Code,ISA_Number,Bundle Pricing Checkbox
1,O324244,25709,A16820,C119461ISA,A16820,C119461ISA,A16820,C119461ISA,Data Migration,,...,1,1844921.64,USD,1,1844921.64,C119461ISA,GL001_001,GL001_001,,N
2,O324244,25709,A16820,C119461ISA,A16820,C119461ISA,A16820,C119461ISA,Data Migration,,...,1,117100.00,USD,1,117100.00,C119461ISA,GL001_001,GL001_001,,N
3,O303011,25710,A17040,C788913ISA,A17040,C788913ISA,A17040,C788910ISA,Data Migration,,...,1,0.00,USD,1,0.00,C788913ISA,GL001_001,GL001_001,,N

In [15]:
# iloc means pulling rows based on Index location
myfile.iloc[[-1,0,2]]

,Opportunity_Oid,Opportunity_Urlid,Bill_To_Custid,Bill_To_Cont,Sold_To_Custid,Sold_To_Cont,Ship_To_Custid,Ship_To_Cont,Ca_Source,Reseller,...,Qty_Assigned,Amt1,Currency_Cd,Schedule,Ca_Stnc,Delivery_Grp,Header Region Code,Line Region Code,ISA_Number,Bundle Pricing Checkbox
492,O775423,111333,A17017,C753297ISA,A17017,C753297ISA,A17017,C753297ISA,Data Migration,,...,1,0.0,USD,1,0.0,C753297ISA,GL001_001,GL001_001,,N
0,O336960,24537,A21567,C666992ISA,A21567,C666992ISA,A21567,C666992ISA,Data Migration,,...,1,723440.0,USD,12,723440.0,C666992ISA,GL001_001,GL001_001,,N
2,O324244,25709,A16820,C119461ISA,A16820,C119461ISA,A16820,C119461ISA,Data Migration,,...,1,117100.0,USD,1,117100.0,C119461ISA,GL001_001,GL001_001,,N

In [16]:
# Filterinf rows and columns togther
#  : means we need to select all for specified columns

myfile.loc[:,['Opportunity_Oid','Opportunity_Urlid','Bill_To_Custid','Contract_Type']]
#myfile.info()
#myfile.head()

    Opportunity_Oid  Opportunity_Urlid Bill_To_Custid Contract_Type
0           O336960              24537         A21567    COMMERCIAL
1           O324244              25709         A16820    COMMERCIAL
2           O324244              25709         A16820    COMMERCIAL
3           O303011              25710         A17040    COMMERCIAL
4           O768440              25710         A17040    COMMERCIAL
5           O349733              25710         A17040    COMMERCIAL
6           O349733              25710         A17040    COMMERCIAL
7           O303011              25710         A17040    COMMERCIAL
8           O303011              25710         A17040    COMMERCIAL
9           O138587              25717         A15850    COMMERCIAL
10          O138587              25717         A15850    COMMERCIAL
11          O138587              25717         A15850    COMMERCIAL
12          O127825              25831         A15900    COMMERCIAL
13          O127825              25831         A15900    COMMERCIAL
14          O127825              25831         A15900    COMMERCIAL
15          O345217              26864         A17167    COMMERCIAL
16          O345217              26864         A17167    COMMERCIAL
17           O69238              27181         A16795    COMMERCIAL
18           O82430              27367         A21004    COMMERCIAL
19          DM27714              27714         A21412    COMMERCIAL
20          O320131              28284         A15812    COMMERCIAL
21           O51000              28348         A16430    COMMERCIAL
22           O51000              28348         A16430    COMMERCIAL
23           O51000              28348         A16430    COMMERCIAL
24          O182351              28357         A30935    COMMERCIAL
25          O342115              29520         A15872    COMMERCIAL
26          O342115              29520         A15872    COMMERCIAL
27          O342115              29520         A15872    COMMERCIAL
28          O348222              29520         A15872    COMMERCIAL
29          O348222              29520         A15872    COMMERCIAL
..              ...                ...            ...           ...
463         O776773             110908         A32143  INTERSEGMENT
464         O774817             111016         A45134    COMMERCIAL
465         O774817             111016         A45134    COMMERCIAL
466         O774817             111016         A45134    COMMERCIAL
467         O769575             111042         A17317    COMMERCIAL
468         O769575             111042         A17317    COMMERCIAL
469         O769575             111042         A17317    COMMERCIAL
470         O779594             111092         A20655  INTERSEGMENT
471         O779594             111092         A20655  INTERSEGMENT
472         O779594             111092         A20655  INTERSEGMENT
473         O779594             111092         A20655  INTERSEGMENT
474         O354299             111095        A129474  INTRASEGMENT
475         O354299             111095        A129474  INTRASEGMENT
476         O354299             111095        A129474  INTRASEGMENT
477         O775130             111096         A21793  INTERSEGMENT
478         O775130             111096         A21793  INTERSEGMENT
479         O775130             111096         A21793  INTERSEGMENT
480         O775665             111160         A16903    COMMERCIAL
481         O775665             111160         A16903    COMMERCIAL
482         O775665             111160         A16903    COMMERCIAL
483         O775665             111160         A16903    COMMERCIAL
484         O774551             111224        A129474  INTRASEGMENT
485         O774551             111224        A129474  INTRASEGMENT
486         O777321             111249        A337150    COMMERCIAL
487         O782199             111294        A121280  INTERSEGMENT
488         O782199             111294        A121280  INTERSEGMENT
489         O775423             111333         A17017    GOVERNMENT
490         O775423             111333         A17017    GOVERNMENT
491         O775423             111333         A17017    GOVERNMENT
492         O775423             111333         A17017    GOVERNMENT

[493 rows x 4 columns]

In [17]:
# adding where clause
# Single where condition
myfile.loc[myfile['Contract_Type'] == 'COMMERCIAL',]

,Opportunity_Oid,Opportunity_Urlid,Bill_To_Custid,Bill_To_Cont,Sold_To_Custid,Sold_To_Cont,Ship_To_Custid,Ship_To_Cont,Ca_Source,Reseller,...,Qty_Assigned,Amt1,Currency_Cd,Schedule,Ca_Stnc,Delivery_Grp,Header Region Code,Line Region Code,ISA_Number,Bundle Pricing Checkbox
0,O336960,24537,A21567,C666992ISA,A21567,C666992ISA,A21567,C666992ISA,Data Migration,,...,1,723440.00,USD,12,723440.00,C666992ISA,GL001_001,GL001_001,,N
1,O324244,25709,A16820,C119461ISA,A16820,C119461ISA,A16820,C119461ISA,Data Migration,,...,1,1844921.64,USD,1,1844921.64,C119461ISA,GL001_001,GL001_001,,N
2,O324244,25709,A16820,C119461ISA,A16820,C119461ISA,A16820,C119461ISA,Data Migration,,...,1,117100.00,USD,1,117100.00,C119461ISA,GL001_001,GL001_001,,N
3,O303011,25710,A17040,C788913ISA,A17040,C788913ISA,A17040,C788910ISA,Data Migration,,...,1,0.00,USD,1,0.00,C788913ISA,GL001_001,GL001_001,,N
4,O768440,25710,A17040,C658117ISA,A17040,C658117ISA,A17040,C658117ISA,Data Migration,,...,1,18000.00,USD,1,18000.00,C658117ISA,GL001_001,GL001_001,,N
5,O349733,25710,A17040,C658117ISA,A17040,C658117ISA,A17040,C658117ISA,Data Migration,,...,1,0.00,USD,1,0.00,C658117ISA,GL001_001,GL001_001,,N
6,O349733,25710,A17040,C658117ISA,A17040,C658117ISA,A17040,C658117ISA,Data Migration,,...,1,120000.00,USD,1,120000.00,C658117ISA,GL001_001,GL001_001,,N
7,O303011,25710,A17040,C788913ISA,A17040,C788913ISA,A17040,C788910ISA,Data Migration,,...,1,0.00,USD,1,0.00,C788913ISA,GL001_001,GL001_001,,N
8,O303011,25710,A17040,C126967ISA,A17040,C126967ISA,A17040,C126967ISA,Data Migration,,...,1,0.00,USD,1,0.00,C126967ISA,GL001_001,GL001_001,,N
9,O138587,25717,A15850,C557751ISA,A15850,C557751ISA,A15850,C766798ISA,Data Migration,,...,1,4939166.58,USD,48,4939166.58,C557751ISA,GL001_001,GL001_001,,N
10,O138587,25717,A15850,C557751ISA,A15850,C557751ISA,A15850,C766798ISA,Data Migration,,...,1,1697593.73,USD,48,1697593.73,C557751ISA,GL001_001,GL001_001,,N
11,O138587,25717,A15850,C126965ISA,A15850,C126965ISA,A15850,C126965ISA,Data Migration,,...,1,1709926.24,USD,48,1709926.24,C126965ISA,GL001_001,GL001_001,,N
12,O127825,25831,A15900,C718360ISA,A15900,C718360ISA,A15900,C718360ISA,Data Migration,,...,1,2818350.00,USD,1,2818350.00,C718360ISA,GL001_001,GL001_001,,N
13,O127825,25831,A15900,C718360ISA,A15900,C718360ISA,A15900,C718360ISA,Data Migration,,...,1,3087750.00,USD,1,3087750.00,C718360ISA,GL001_001,GL001_001,,N
14,O127825,25831,A15900,C718360ISA,A15900,C718360ISA,A15900,C718360ISA,Data Migration,,...,1,486850.00,USD,1,486850.00,C718360ISA,GL001_001,GL001_001,,N
15,O345217,26864,A17167,C235321ISA,A17167,C235321ISA,A17167,C723732ISA,Data Migration,,...,1,1384523.28,USD,12,1384523.28,C235321ISA,GL001_001,GL001_001,,N
16,O345217,26864,A17167,C235321ISA,A17167,C235321ISA,A17167,C723732ISA,Data Migration,,...,1,544858.01,USD,12,544858.01,C235321ISA,GL001_001,GL001_001,,N
17,O69238,27181,A16795,C126990ISA,A16795,C126990ISA,A16795,C126990ISA,Data Migration,,...,1,5487290.00,USD,36,5487290.00,C126990ISA,GL001_001,GL001_001,,N
18,O82430,27367,A21004,C513604ISA,A21004,C513604ISA,A21004,C513604ISA,Data Migration,,...,1,8894806.45,USD,36,8894806.45,C513604ISA,GL001_001,GL001_001,,N
19,DM27714,27714,A21412,C518554ISA,A21412,C518554ISA,A21412,C518554ISA,Data Migration,,...,1,2386507.68,USD,24,2386507.68,C518554ISA,GL001_001,GL001_001,,N
20,O320131,28284,A15812,C839763ISA,A15812,C839763ISA,A15812,C839763ISA,Data Migration,,...,1,0.00,USD,23,0.00,C839763ISA,GL001_001,GL001_001,,N
21,O51000,28348,A16430,C165087ISA,A16430,C165087ISA,A16430,C2813ISA,Data Migration,,...,1,6932341.82,USD,60,6932341.82,C165087ISA,GL001_001,GL001_001,,N
22,O51000,28348,A16430,C165087ISA,A16430,C165087ISA,A16430,C2813ISA,Data Migration,,...,1,2446452.00,USD,60,2446452.00,C165087ISA,GL001_001,GL001_001,,N
23,O51000,28348,A16430,C165087ISA,A16430,C165087ISA,A16430,C2813ISA,Data Migration,,...,1,842107.86,USD,60,842107.86,C165087ISA,GL001_001,GL001_001,,N
24,O182351,28357,A30935,C244986ISA,A30935,C244986ISA,A30935,C244986ISA,Data Migration,,...,1,337559.20,USD,1,337559.20,C244986ISA,GL001_001,GL001_001,,N
25,O342115,29520,A15872,C580540ISA,A15872,C580540ISA,A15872,C580540ISA,Data Migration,,...,1,412702.00,USD,12,412702.00,C580540ISA,GL001_001,GL001_001,,N
26,O342115,29520,A15872,C580540ISA,A15872,C580540ISA,A15872,C580540ISA,Data Migration,,...,1,632926.00,USD,12,632926.00,C580540ISA,GL001_001,GL001_001,,N
27,O342115,29520,A15872,C722473ISA,A15872,C722473ISA,A15872,C722473ISA,Data Migration,,...,1,2150424.51,USD,12,2150424.51,C722473ISA,GL001_001,GL001_001,,N
28,O348222,29520,A15872,C580540ISA,A15872,C580540ISA,A15872,C580540ISA,Data Migration,,...,1,0.00,USD,1,0.00,C580540ISA,GL001_001,GL001_001,NaN,N
29,O348222,29520,A15872,C580540ISA,A15872,C580540ISA,A15872,C580540ISA,Data Migration,,...,1,0.00,USD,1,0.00,C580540ISA,GL001_001,GL001_001,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,O350638,110167,A57316,C629126ISA,A57316,C629126ISA,A57316,C757971ISA,Data Migration,,...,1,5729.16,USD,59,5729.16,C629126ISA,GL001_001,GL001_001,,N
435,O768054,110457,A55038,C821743ISA,A55038,C821743ISA,A55038,C821743ISA,Data Migration,,...,1,3922000.00,USD,1,3922000.00,C821743ISA,GL001_001,GL001_001,,N
436,O768054,110457,A55038,C821743ISA,A55038,C821743ISA,A55038,C821743ISA,Data Migration,,...,1,0.00,USD,1,0.00,C821743ISA,GL001_001,GL001_001,,N
437,O768054,110457,A55038,C821743ISA,A55038,C821743ISA,A55038,C821743ISA,Data Migration,,...,1,0.00,USD,1,0.00,C821743ISA,GL001_001,GL001_001,,N
438,O352375,110463,A15778,C769190ISA,A15778,C769190ISA,A15778,C769190ISA,Data Migration,,...,1,425000.00,USD,1,425000.00,C769190ISA,GL001_001,GL001_001,,N
439,O352375,110463,A15778,C769190ISA,A15778,C769190ISA,A15778,C769190ISA,Data Migration,,...,1,0.00,USD,1,0.00,C769190ISA,GL001_001,GL001_001,,N
440,O352375,110463,A15778,C769190ISA,A15778,C769190ISA,A15778,C769190ISA,Data Migration,,...,1,3171400.00,USD,1,3171400.00,C769190ISA,GL001_001,GL001_001,,N
441,O352375,110463,A15778,C769190ISA,A15778,C769190ISA,A15778,C769190ISA,Data Migration,,...,1,0.00,USD,1,0.00,C769190ISA,GL001_001,GL001_001,,N
442,O352375,110463,A15778,C769190ISA,A15778,C769190ISA,A15778,C769190ISA,Data Migration,,...,1,0.00,USD,1,0.00,C769190ISA,GL001_001,GL001_001,,N
443,O763419,110782,A17193,C781949ISA,A17193,C781949ISA,A17193,C781949ISA,Data Migration,,...,1,2510000.00,USD,11,2510000.00,C781949ISA,GL001_001,GL001_001,,N
444,O763419,110782,A17193,C781949ISA,A17193,C781949ISA,A17193,C781949ISA,Data Migration,,...,1,440000.00,USD,59,440000.00,C781949ISA,GL001_001,GL001_001,,N
445,O763419,110782,A17193,C781949ISA,A17193,C781949ISA,A17193,C781949ISA,Data Migration,,...,1,2007000.00,USD,11,2007000.00,C781949ISA,GL001_001,GL001_001,,N
446,O763419,110782,A17193,C781949ISA,A17193,C781949ISA,A17193,C781949ISA,Data Migration,,...,1,929000.00,USD,11,929000.00,C781949ISA,GL001_001,GL001_001,,N
447,O763419,110782,A17193,C781949ISA,A17193,C781949ISA,A17193,C781949ISA,Data Migration,,...,1,0.00,USD,1,0.00,C781949ISA,GL001_001,GL001_001,,N
448,O763419,110782,A17193,C781949ISA,A17193,C781949ISA,A17193,C781949ISA,Data Migration,,...,1,0.00,USD,1,0.00,C781949ISA,GL001_001,GL001_001,,N
458,O769178,110841,A264371,C832608ISA,A264371,C832608ISA,A264371,C832608ISA,Data Migration,,...,1,5225000.00,USD,1,5225000.00,C832608ISA,GL001_001,GL001_001,,N
459,O769178,110841,A264371,C832608ISA,A264371,C832608ISA,A264371,C832608ISA,Data Migration,,...,1,5225000.00,USD,1,5225000.00,C832608ISA,GL001_001,GL001_001,,N
460,O769178,110841,A264371,C832608ISA,A264371,C832608ISA,A264371,C832608ISA,Data Migration,,...,1,0.00,USD,1,0.00,C832608ISA,GL001_001,GL001_001,,N
461,O769178,110841,A264371,C832608ISA,A264371,C832608ISA,A264371,C832608ISA,Data Migration,,...,1,0.00,USD,1,0.00,C832608ISA,GL001_001,GL001_001,,N
464,O774817,111016,A45134,C832547ISA,A45134,C832547ISA,A45134,C832547ISA,Data Migration,,...,1,150000.00,USD,3,150000.00,C832547ISA,GL001_001,GL001_001,,N
465,O774817,111016,A45134,C832547ISA,A45134,C832547ISA,A45134,C832547ISA,Data Migration,,...,1,150000.00,USD,3,150000.00,C832547ISA,GL001_001,GL001_001,,N
466,O774817,111016,A45134,C832547ISA,A45134,C832547ISA,A45134,C832547ISA,Data Migration,,...,1,50000.00,USD,3,50000.00,C832547ISA,GL001_001,GL001_001,,N
467,O769575,111042,A17317,C823948ISA,A17317,C823948ISA,A17317,C823948ISA,Data Migration,,...,1,0.00,USD,1,0.00,C823948ISA,GL001_001,GL001_001,,N
468,O769575,111042,A17317,C823948ISA,A17317,C823948ISA,A17317,C823948ISA,Data Migration,,...,1,0.00,USD,1,0.00,C823948ISA,GL001_001,GL001_001,,N
469,O769575,111042,A17317,C823948ISA,A17317,C823948ISA,A17317,C823948ISA,Data Migration,,...,1,0.00,USD,1,0.00,C823948ISA,GL001_001,GL001_001,,N
480,O775665,111160,A16903,C319684ISA,A16903,C319684ISA,A16903,C319684ISA,Data Migration,,...,1,155000.00,USD,1,155000.00,C319684ISA,GL001_001,GL001_001,,N
481,O775665,111160,A16903,C319684ISA,A16903,C319684ISA,A16903,C319684ISA,Data Migration,,...,1,361500.00,USD,1,361500.00,C319684ISA,GL001_001,GL001_001,,N
482,O775665,111160,A16903,C319684ISA,A16903,C319684ISA,A16903,C319684ISA,Data Migration,,...,1,0.00,USD,1,0.00,C319684ISA,GL001_001,GL001_001,,N
483,O775665,111160,A16903,C319684ISA,A16903,C319684ISA,A16903,C319684ISA,Data Migration,,...,1,0.00,USD,1,0.00,C319684ISA,GL001_001,GL001_001,,N
486,O777321,111249,A337150,C837892ISA,A337150,C837892ISA,A337150,C837892ISA,Data Migration,,...,1,120000.00,USD,48,120000.00,C837892ISA,GL001_001,GL001_001,,N

In [18]:
# appling multiple filters

myfile.loc[(myfile['Opportunity_Oid']=='O775423') & (myfile['Opportunity_Urlid']==111333),]

myfile.loc[(myfile['Opportunity_Oid']=='O775423') | (myfile['Opportunity_Urlid']== 111333),]

,Opportunity_Oid,Opportunity_Urlid,Bill_To_Custid,Bill_To_Cont,Sold_To_Custid,Sold_To_Cont,Ship_To_Custid,Ship_To_Cont,Ca_Source,Reseller,...,Qty_Assigned,Amt1,Currency_Cd,Schedule,Ca_Stnc,Delivery_Grp,Header Region Code,Line Region Code,ISA_Number,Bundle Pricing Checkbox
489,O775423,111333,A17017,C753297ISA,A17017,C753297ISA,A17017,C753297ISA,Data Migration,,...,1,1299888.0,USD,1,1299888.0,C753297ISA,GL001_001,GL001_001,,N
490,O775423,111333,A17017,C753297ISA,A17017,C753297ISA,A17017,C753297ISA,Data Migration,,...,1,354112.0,USD,1,354112.0,C753297ISA,GL001_001,GL001_001,,N
491,O775423,111333,A17017,C753297ISA,A17017,C753297ISA,A17017,C753297ISA,Data Migration,,...,1,0.0,USD,1,0.0,C753297ISA,GL001_001,GL001_001,,N
492,O775423,111333,A17017,C753297ISA,A17017,C753297ISA,A17017,C753297ISA,Data Migration,,...,1,0.0,USD,1,0.0,C753297ISA,GL001_001,GL001_001,,N

In [19]:
#group by
# to be review lated in seprate video
import numpy as np
df = myfile.groupby(['Opportunity_Urlid','Bill_To_Custid'])[['Gross_Amt']].agg(np.mean).reset_index()
df.head()

   Opportunity_Urlid Bill_To_Custid     Gross_Amt
0              24537         A21567  7.234400e+05
1              25709         A16820  9.810108e+05
2              25710         A17040  2.300000e+04
3              25717         A15850  2.782229e+06
4              25831         A15900  2.130983e+06

In [20]:
# importing seaborn library with have tips data can be used for visualization
import seaborn as sns

In [21]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [22]:
# filtering Tips data set

tips.loc[(tips['tip'] > 5) & (tips['sex']== 'Male'),['total_bill','tip','time']]

     total_bill    tip    time
23        39.42   7.58  Dinner
44        30.40   5.60  Dinner
47        32.40   6.00  Dinner
59        48.27   6.73  Dinner
88        24.71   5.85   Lunch
116       29.93   5.07  Dinner
141       34.30   6.70   Lunch
170       50.81  10.00  Dinner
172        7.25   5.15  Dinner
181       23.33   5.65  Dinner
183       23.17   6.50  Dinner
211       25.89   5.16  Dinner
212       48.33   9.00  Dinner
239       29.03   5.92  Dinner

In [23]:
#Group by in Tips data set

tips.groupby(['sex','time'])[['total_bill']].agg(np.mean)  #.reset_index()

               total_bill
sex    time
Male   Lunch    18.048485
       Dinner   21.461452
Female Lunch    16.339143
       Dinner   19.213077

In [24]:
pwd

'C:\\Users\\gmaurya1\\Desktop\\Python\\PandasTutorial'

In [25]:
# Creating DataFrames with dictionary

scientists = pd.DataFrame({
    'Name':['Franklin','Gosset'],
    'Job':['chem','stats']
})
scientists

     Job      Name
0   chem  Franklin
1  stats    Gosset

In [26]:
myfile.head()

myfile['Amt1'].describe()

count    4.930000e+02
mean     6.513442e+05
std      1.550319e+06
min      0.000000e+00
25%      0.000000e+00
50%      1.114200e+05
75%      4.868500e+05
max      1.736240e+07
Name: Amt1, dtype: float64

In [27]:
myfile['Bill_To_Custid'].describe()

myfile.columns

Index(['Opportunity_Oid', 'Opportunity_Urlid', 'Bill_To_Custid',
       'Bill_To_Cont', 'Sold_To_Custid', 'Sold_To_Cont', 'Ship_To_Custid',
       'Ship_To_Cont', 'Ca_Source', 'Reseller', 'Contract_Type',
       'Opprnty_Ln_Num', 'Line_Bill_To_Custid', 'Line_Bill_To_Cont',
       'Line_Ship_To_Custid', 'Line_Ship_To_Cont', 'Gross_Amt', 'Product_Id',
       'Billproductid', 'Billgroup', 'Qty', 'Checked', 'Start_Dt',
       'Ca_Cntrct_Trm', 'Estimated_Amount', 'Po_Ref', 'Usrlicnbr',
       'Ca_Sale_Event', 'Ca_Slsid', 'Ca_Arrngmentid', 'Ca_Updcaid',
       'Qty_Assigned', 'Amt1', 'Currency_Cd', 'Schedule', 'Ca_Stnc',
       'Delivery_Grp', 'Header Region Code', 'Line Region Code', 'ISA_Number',
       'Bundle Pricing Checkbox'],
      dtype='object')

In [28]:
#### Reading from SQL SERVER
import SQLAlchemy

ModuleNotFoundError: No module named 'SQLAlchemy'

In [ ]:
myfile.melt(id_vars = 'Opportunity_Oid', var_name = 'Oid', value_name = 'Myvalues')

In [ ]:
myfile['Newfiled'] = myfile['Bill_To_Cont'] + ' ' + myfile['Sold_To_Cont']

myfile.head()

In [ ]:
newfields  = myfile['Newfiled'].str.split(' ',expand = True)
newfields

In [ ]:
myfile[['new1','new2']] = newfields

myfile.head()

In [ ]:
# Difference between Pivot and Pivot table function is that : In case the data we are unmelting have duplicate pivot will 
#and error as it can have only one value a row but in case of Pivot table it will calculate the mean of all duplicate
#values and return one value for the Row.

In [ ]:
import numpy as np
df = myfile.groupby(['Opportunity_Urlid'])[['Gross_Amt']].agg(np.mean).reset_index()
df.head()

In [ ]:
## to be reviews not working properly

# myfile.pivot_table(index=['Opportunity_Urlid','Bill_to_Cont'],
#                    columns = 'Amt1',
#                    values = 'Amt1'
#                   )

In [ ]:
# writing functions in python

def sqr(x):
    return x **2

In [ ]:
sqr(8)

In [ ]:
# To validate if fnction is working properly or not

assert sqr(2) == 4

In [ ]:
def avg(x,y):
    return (x+y)/2

In [ ]:
avg(4,5)

In [ ]:
df = pd.DataFrame({
    'a':[1,2,3],
    'b':[4,5,6]
})

df

In [ ]:
df['a']**2