In [ ]:
# importing Pandas and getting to know its installed version
import pandas as pd
#pd.__version__

In [ ]:
## Reading file from desktop folder, as Ive opend it in same folder no need to specify complete path
myfile = pd.read_csv("ContractHeader.csv")
#myfile.head()
#myfile.tail(n=100)

In [ ]:
# to get the data type of file
type(myfile)

In [ ]:
#getting shape ( Rows and columns)
#Shape is an property Or and attribute of pandas not a function thats why we are putting () after it
myfile.shape

In [ ]:
#info at glance about data frame
myfile.info()

In [ ]:
#Column is an property Or and attribute of pandas not a function thats why we are putting () after it
myfile.columns

In [ ]:
myfile.index

In [ ]:
#to get only values without header
myfile.values

In [ ]:
# Object is like an string value
myfile.dtypes

In [ ]:
# subsetting Or slicing data
#type(list)
list = myfile[['Opportunity_Oid']]

In [ ]:
# deleting a filed from file/data set
del myfile['Contract Sign Date']

In [ ]:
# To drop multiple columns at the same time, Use Drop method

myfile.drop(['ISA_Number','Line Region Code','Delivery_Grp'],axis ='columns', )

In [ ]:
myfile.shape

In [ ]:
# subsetting Rows  
# based on location
myfile.loc[0]
myfile.loc[[1,2,3]]

In [ ]:
# iloc means pulling rows based on Index location
myfile.iloc[[-1,0,2]]

In [ ]:
# Filterinf rows and columns togther
#  : means we need to select all for specified columns

myfile.loc[:,['Opportunity_Oid','Opportunity_Urlid','Bill_To_Custid','Contract_Type']]
#myfile.info()
#myfile.head()

In [ ]:
# adding where clause
# Single where condition
myfile.loc[myfile['Contract_Type'] == 'COMMERCIAL',]

In [ ]:
# appling multiple filters

myfile.loc[(myfile['Opportunity_Oid']=='O775423') & (myfile['Opportunity_Urlid']==111333),]

myfile.loc[(myfile['Opportunity_Oid']=='O775423') | (myfile['Opportunity_Urlid']== 111333),]

In [ ]:
#group by
# to be review lated in seprate video
import numpy as np
df = myfile.groupby(['Opportunity_Urlid','Bill_To_Custid'])[['Gross_Amt']].agg(np.mean).reset_index()
df.head()

In [ ]:
# importing seaborn library with have tips data can be used for visualization
import seaborn as sns

In [ ]:
tips = sns.load_dataset('tips')
tips.head()

In [ ]:
# filtering Tips data set

tips.loc[(tips['tip'] > 5) & (tips['sex']== 'Male'),['total_bill','tip','time']]

In [ ]:
#Group by in Tips data set

tips.groupby(['sex','time'])[['total_bill']].agg(np.mean)  #.reset_index()

In [ ]:
pwd

In [ ]:
# Creating DataFrames with dictionary

scientists = pd.DataFrame({
    'Name':['Franklin','Gosset'],
    'Job':['chem','stats']
})
scientists

In [ ]:
myfile.head()

myfile['Amt1'].describe()

In [ ]:
myfile['Bill_To_Custid'].describe()

myfile.columns

In [ ]:
#### Reading from SQL SERVER
import SQLAlchemy

In [ ]:
myfile.melt(id_vars = 'Opportunity_Oid', var_name = 'Oid', value_name = 'Myvalues')

In [ ]:
myfile['Newfiled'] = myfile['Bill_To_Cont'] + ' ' + myfile['Sold_To_Cont']

myfile.head()

In [ ]:
newfields  = myfile['Newfiled'].str.split(' ',expand = True)
newfields

In [ ]:
myfile[['new1','new2']] = newfields

myfile.head()

In [ ]:
# Difference between Pivot and Pivot table function is that : In case the data we are unmelting have duplicate pivot will 
#and error as it can have only one value a row but in case of Pivot table it will calculate the mean of all duplicate
#values and return one value for the Row.

In [ ]:
import numpy as np
df = myfile.groupby(['Opportunity_Urlid'])[['Gross_Amt']].agg(np.mean).reset_index()
df.head()

In [ ]:
## to be reviews not working properly

# myfile.pivot_table(index=['Opportunity_Urlid','Bill_to_Cont'],
#                    columns = 'Amt1',
#                    values = 'Amt1'
#                   )

In [ ]:
# writing functions in python

def sqr(x):
    return x **2

In [ ]:
sqr(8)

In [ ]:
# To validate if fnction is working properly or not

assert sqr(2) == 4

In [ ]:
def avg(x,y):
    return (x+y)/2

In [ ]:
avg(4,5)

In [ ]:
df = pd.DataFrame({
    'a':[1,2,3],
    'b':[4,5,6]
})

df

df['a']**2

# This is my first Code on Pandas

In [ ]:
df['a'].apply(sqr).reset_index()

In [1]:
import seaborn as sns

In [11]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [17]:
from sklearn import linear_model

In [23]:
lr = linear_model.LinearRegression()

In [29]:
lr.fit(X=tips['total_bill'].values.reshape(-1,1),y=tips['tip'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [31]:
lr.coef_

array([ 0.10502452])

In [35]:
lr.intercept_

0.92026961355467307